<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="BusinessApiPathwayUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/pathway/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiGroupedPathwaysUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/pathway_suggest/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosCheckCapacitySummaryUrl" value="http://localhost:9004/DOSapi/CheckCapacitySummary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosServiceDetailsByIdUrl" value="http://localhost:9004/DOSapi/ServiceDetailsById"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiJustToBeSafePartOneUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/node/{0}/jtbs_first" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiJustToBeSafePartTwoUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/node/{0}/jtbs/second/{2}/{3}/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PostcodeSearchByIdApiUrl" value="http://demo.medplus.steinhauer.technology:9101/postcodesearch/{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiPathwayIdUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/pathway/{0}/{1}/{2}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiPathwaySymptomGroupUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/pathway/symptomGroup/{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiNextNodeUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/node/{0}/next_node/{1}/answer/{2}?state={3}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiQuestionByIdUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/node/{0}/question/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiCareAdviceUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/pathways/care-advice/{0}/{1}?markers={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiFirstQuestionUrl" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/node/{0}/questions/first?state={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisConnectionString" value="beta-111digital.redis.cache.windows.net:6380" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>