@model NHS111.Models.Models.Web.JourneyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>


    <script src="~/scripts/custom.js"></script>

}

<body id="gender">
    <div id="wrapper">
        <header role="banner" class="global-header">
            <div class="global-header__wrapper">
                <div class="global-header__logo"> <a href="/" title="Go to Homepage" class="logo"> <img src="~/content/img/med-logo.png" alt="MED"> </a> </div>
                <!--<div id="logStatus"> <span title="Logged in as Kevin">Welcome back <strong>Kevin</strong></span> </div>-->
            </div>
        </header>
        <div class="content-container">

            <div id="content">
                @using (Html.BeginForm("SliderAction", "Question", FormMethod.Post, new { @id = "outerContent" }))
                {
                    @Html.HiddenFor(x => Model.PathwayNo)
                    <div id="genderContent">
                        <p class="breadcrumb"></p>
                        <h2>We need a few more details</h2>

                        <div id="threeColumnBlock">

                         

                            <div id="columnTwo">



                                <label>
                                    <input name="UserInfo.Gender" value="Male" type="radio" id="Male">
                                    <img src="~/content/img/male.png" alt="Male" class="maleIcon">
                                </label>

                            </div>

                            <div id="columnThree">


                                <label>
                                    <input name="UserInfo.Gender" value="Female" type="radio" id="Female">
                                    <img src="~/content/img/female.png" alt="Female" class="femaleIcon">
                                </label>
                            </div>


                            <div id="columnOne" class="ageInput">
                                <label>
                                    <span id="errmsg"></span>
                                    <input type="text" class="largeInputBox" name="UserInfo.Age" id="Age" size=2 maxlength=2 onkeypress="return numbersonly(this, event);">

                                    <span>Type</span><span class="boldText">Your age</span>
                                </label>
                            </div>

                        </div>
                        <!--/threeColumnBlock-->


                        <div id="chooseGender">
                            <span>Choose</span><br>
                            <span class="bold">Your gender</span>

                        </div>
                            <input class="button" id="nextScreen" type="submit" name="Slider" value="Next" />
                    </div> <!--/genderContent-->
                }

            </div>
            <!--content end-->
        </div>
        <footer>
            <div class="footerWrapper">
                <div class="footerMeta"> </div>
            </div>
        </footer>
    </div>
    <!--wrapper ends-->

    <div id="mobileScroller">
        <div style="display:none;" class="nav_up" id="nav_up"></div>
        <div style="display:none;" class="nav_down" id="nav_down"></div>
    </div>



    <script type="text/javascript">
<!--
// copyright 1999 Idocs, Inc. http://www.idocs.com
// Distribute this script freely but keep this notice in place
function numbersonly(myfield, e, dec)
{
var key;
var keychar;

if (window.event)
   key = window.event.keyCode;
else if (e)
   key = e.which;
else
   return true;
keychar = String.fromCharCode(key);

// control keys
if ((key==null) || (key==0) || (key==8) ||
    (key==9) || (key==13) || (key==27) )
   return true;

// numbers
else if ((("0123456789").indexOf(keychar) > -1))
   return true;

// decimal point jump
else if (dec && (keychar == "."))
   {
   myfield.form.elements[dec].focus();
   return false;
   }
else
   return false;
}

//-->
    </script>

</body>
